<%- include('../partials/_navbar.ejs') %>

<h1>My Pantry</h1>

<ul>
  <% pantry.forEach(food => { %>
    <li>
      <strong><%= food.title %></strong>
      — <%= food.recipe %>

      <form action="/users/<%= user._id %>/foods/<%= food._id %>/edit" method="GET" style="display:inline;">
        <button type="submit">Edit Item</button>
      </form>

      <form action="/users/<%= user._id %>/foods/<%= food._id %>?_method=DELETE" method="POST" style="display:inline;">
        <button type="submit">Delete Item</button>
      </form>

    </li>
  <% }) %>
</ul>
